.transactions-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .transactions-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .loader-conatiner{
    margin-top: 10%;
  }

  .main-page {
    padding: 20px;
    padding-top: 40px;
  }

  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
  }
  